<div class="login-block">
    <div class="container">
        <div class="row">
            <div class="col-md-4 login-sec">
                <h2 class="text-center">Workshop Redux</h2>
                <form class="login-form" [formGroup]="form" (submit)="onSubmit()">

                    <!--Group username -->
                    <div class="form-group">
                        <label for="username" class="text-uppercase">Username</label>
                        <input formControlName="username" type="text" class="form-control" placeholder="" id="username">
                    </div>
                    <!--/ Group username -->

                    <!--Group password -->
                    <div class="form-group">
                        <label for="password" class="text-uppercase">Password</label>
                        <input formControlName="password" type="password" id="password" class="form-control"
                            placeholder="">
                    </div>
                    <!--/ Group password -->

                    <!--Submit-->
                    <div class="form-check">
                        <button type="submit" class="btn btn-login float-right">Entrar</button>
                    </div>
                    <!--/ Submit-->

                </form>
            </div>
            <div class="col-md-8 banner-sec"></div>
        </div>
    </div>
</div>